@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(40deg, rgb(40, 40, 40), rgb(60, 60, 60));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.state-effects {
  @apply hover:scale-105 focus:scale-105 active:scale-[1.02] transition;
}

/* SCROLLBAR STYLING */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

@media (prefers-color-scheme: dark) {
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar-track {
    background: #0f1015;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  /* Firefox */
  * {
    scrollbar-color: #0f1015 rgba(255, 255, 255, 0.1);
  }
}

